<!-- h1 
    i.fa.fa-lg.fa-pie-chart 
    span Awesome Polls
  h2 Welcome to the Awesome Polls Administrator website.
  p To access the polls, please login.
  br
  a(href="/login")
    button() Login -->

    <!DOCTYPE html>
    <html>
    <head>
    	<title>Awesome Polls</title>
    	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<script type="text/javascript" src="https://cdn.auth0.com/js/lock/10.3/lock.min.js"></script>
    </head>
    <body>
    <div class="container">
    <h1>
    	<i class="fa fa-lg fa-pie-chart"></i>
    	<span>Awesome Polls</span>
    </h1>
    <h2>Welcome to the Awesome Polls Administrator website.</h2>
    <p> To access the polls, please login. </p>
    <br>
    <a href="/login"> <button type="submit"> Login </button></a>
    </div>
    </body>
    </html>